{
	"root": true,
	"extends": "@ljharb",
	"parserOptions": {
		"ecmaVersion": "2018"
	},
	"env": {
		"es6": true
	},
	"rules": {
		"consistent-return": 1,
		"func-name-matching": 0,
		"max-nested-callbacks": 0,
		"max-params": [2, 4],
		"sort-keys": 0,

		"comma-dangle": [2, {
			"arrays": "always-multiline",
			"objects": "always-multiline",
			"imports": "always-multiline",
			"exports": "always-multiline",
			"functions": "never",
		}],
		"dot-notation": [2, { "allowKeywords": true }],
		"no-console": 0,
		"object-shorthand": [2, "always"],
		"prefer-const": 2,
		"quote-props": [2, "as-needed", {
			"keywords": false,
			"numbers": true,
			"unnecessary": true,
		}],
	},
	"overrides": [
		{
			"files": "test*",
			"rules": {
				"max-nested-callbacks": 0,
				"max-params": 0,
			},
		},
	],
}
